
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEmloyee</title>
</head>
<body>
    <header style="height:200px;background-color:aqua">
<h2>
    THIS IS HEADER
</h2>
    </header>

    <div>
        <h1>
            This is my add employee page
        </h1>
    </div>
    <footer style="height:200px;background-color:blue">
        <h2>This is Footer</h2>
    </footer>
    <div> 

    </div>
</body>
</html>
