
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEmloyee</title>
</head>
<body>


    <div>
        <h1>
            This is my add employee page
        </h1>
    </div>

    <div>

    </div>
</body>
</html>
