
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <header style="height:200px;background-color:burlywood">
        <h2>
            THIS IS New HEADER

        </h2>
        @RenderSection("readme", required: true)
    </header>
    <div>
        @RenderBody()
    </div>
    <footer style="height:200px;background-color:darkorange">
        <h2>This is New Footer</h2>
        <h3>@DateTime.Now</h3>
    </footer>
</body>
</html>
